baseurl: '/'
url: 'https://dostepnik.com.pl'
lang: pl
permalink: pretty
title: 'Jacek Zadrożny'
description: 'Audyty dostępności, szkolenia i doradztwo w zakresie WCAG'

author:
  name: 'Jacek Zadrożny'
  email: 'jacekzadrozny@dostepnik.com.pl'

logo: 'images/logo/logo.svg'

site_logo:
  mobile: "images/logo/logo-mobile.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/logo.svg"
  desktop_height: "32px"
  desktop_width: "120px"

home:
  limit_services: 6

collections:
  services:
    output: false
    sort_by: weight
  team:
    output: false

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md