<script type="application/ld+json" class="schemantra.com">{
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "JacZad",
    "additionalName": "Mariusz",
    "award": "Lider Cyfrowej Dostępności",
    "email": "jaczad@gmail.com",
    "familyName": "Zadrożny",
    "givenName": "Jacek",
    "image": "https://informaton.blog/assets/img/profile.png",
    "jobTitle": "Ekspert do spraw dostępności",
    "sameAs": [
      "https://linkedin.com/in/jaczad",
      "https://dostepnik.substack.com"
    ],
    "telephone": "+48 603 70 99 23",
    "address": "04-402 Warszawa, ul. Stanisława Fiszera 16/13",
    "description": "Zajmuję się dostępnością, w szczególności cyfrową. Prowadzę szkolenia i webinary, występuję na konferencjach, piszę blog i newsletter, nagrywam podcast. Czasem robię audyty stron internetowych. Pasjonuję się nowoczesnymi technologiami.",
    "knowsAbout": "WCAG, cyfrowa dostępność, technologie asystujące, sztuczna inteligencja",
    "knowsLanguage": "polski, english",
    "worksFor": {
      "@id": "FWZR"
    },
    "alumniOf": {
      "@id": "UW"
    }
  }</script><script type="application/ld+json" class="schemantra.com">{
    "@context": "https://schema.org",
    "@type": "NGO",
    "@id": "FWZR",
    "address": "Warszawa, ul. Hafciarska 11",
    "email": "jacek.zadrozny@fwzr.pl",
    "identifier": "https://fwzr.pl",
    "keywords": "JST, dostępność, koordynatorzy, szkolenia, deklaracja dostępności",
    "legalName": "Fundacja Wspierania Zrównoważonego Rozwoju",
    "sameAs": "https://www.linkedin.com/company/fundacja-wspierania-zrownowazonego-rozwoju/mycompany/"
  }</script><script type="application/ld+json" class="schemantra.com">{
    "@context": "https://schema.org",
    "@type": "EducationalOrganization",
    "@id": "UW",
    "legalName": "Uniwersytet Warszawski",
    "location": "Warszawa",
    "url": "https://uw.edu.pl"
  }</script>